body {
    margin: 0;
    padding: 0;
    min-width: 1200px;
    font-family: "Cuprum", "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 115%;
    color: #000000;
}

/* .visually-hidden {
    position: absolute;
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0;
    border: 0;
    height: 1px;
    width: 1px;
    overflow: hidden;
  } */

.container {
    width: 940px;
    margin: 0 auto;
    padding: 0 15px;
}

.logo {
    background-color: #ee3643;
}

/* .header-top {
    background-color: #293449;
}

.header-wrapper {
    background-color: #F3F7F9;

}

.main-header-nav {
    background-color: #32425C;
}

.footer-top {
    background-color: #32425C;
}

.footer-middle {
    background-color: #32425C;
}

.footer-bottom {
    background-color: #293449;
} */


.old-price {
    text-decoration: line-through;
}

/* Замена фото товара на кнопки, тест */

.popular-item .buy,
.popular-item .bookmark,
.catalog-list-item .buy,
.catalog-list-item .bookmark {
    display: none;
}

.popular-item:hover button,
.catalog-list-item:hover button {
    display: inline-block;
}

.popular-item:hover img,
.catalog-list-item:hover img {
    display: none;
}

/* Табы, тест */

.tabs-content {
    width: 330px;
    height: 200px;
    overflow: hidden;
    list-style: none;
}

.tab-content {
    width: 330px;
    height: 200px;
}


/* Ползунок фильтра цены */

.filter-price-range {
    position: relative;
    width: auto;
    height: 127px;
}

.range {
    margin: 25px auto 20px 20px;
    padding: 0;
    width:180px;
    height:2px;
    border-radius: 4px;
    background-color: #d7dcde;
}

.range-button-1, .range-button-2 {
    position: absolute;
    top: 35%;
    width: 20px;
    height: 20px;
    cursor: move;
    transform: translateY(-50%);
    border: none;
    border-radius: 50%;
    background-image: url(img/filter-button.svg) no-repeat;
    box-shadow: 0 2px #ababab;
}

.range-input-1, .range-input-2 {
    margin: 10px auto;
    width: 95px;
    height: 38px;
    text-align: center;
    font-size: 17px;
    line-height: 18px;
    border-radius: 4px;
}