:root {
    --black: #000000;
    --white: #ffffff;
    --basic-red: #ee3643;
    --basic-green: #63a63e;
    --basic-navy: #3d546f;
    --basic-darknavy: #293449;
    --basic-greylight: #c5c5c5;
    --basic-background: #f1f5f7;
    --basic-beige: #f9f5f0;
    --basic-light: #f3f5f9;
    --special-filter: #e5e5e5;
    --special-oldprice: #a9a9a9;
    --special-dark: #161d29;
    --special-social: #212a3a;
    --special-nav: #1d2739;
    --special-darkblue: #32425C;
    --special-yellow: #ffbf47;
    --special-blue: #3bbce3;
    --special-lilac: #dc91d8;
    --special-greenlight: #8ed78f;
    --special-yellowlight: #ffd180;
    --special-buygreen: #367315;
    --special-buyclick: #518534;
    --success: #5fbb2d;
    --warning: #ffbf47;
    --error: #ba2732;
    --light-grey: #eaeaea;
}

body {
    min-width: 1200px;
    margin: 0;
    padding: 0;
    font-family: "Cuprum", "Open Sans", sans-serif;
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    color: var(--black);
    text-align: left;
}

a {
    text-decoration: none;
}

.visually-hidden {
    position: absolute;
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0;
    border: 0;
    height: 1px;
    width: 1px;
    overflow: hidden;
  }

.container {
    width: 940px;
    margin: 0 auto;
    padding: 0 15px;
}

/* Хедер */

.header-top {
    display: flex;
    background-color: var(--basic-darknavy);
    height: 42px;
}

.header-top .container {
    display: flex;
}

.header-logo {
    position: relative;
    background-color: var(--basic-red);
    box-shadow: inset 0px -5px 0px rgba(0, 0, 0, 0.24);
    padding: 0 57px 0 55px;
    height: 47px;
}

.header-logo:active {
    background-color: var(--error);
}

.header-logo img {
    padding-top: 12px;
}

.header-top input {
    background-color: var(--basic-darknavy);
    border: none;
    color: var(--white);
    font-family: inherit;
    font-size: inherit;
    padding: 9px 0 0 30px;
    /* Лупа будет потом */
}

.header-top input::placeholder {
    color: var(--white);
}

.header-top input:focus {
    background-color: var(--white);
    color: var(--basic-black);
}

.header-top .button {
    color: var(--white);
    padding: 9px 16px 0 19px;
}

.button.bookmarks {
    padding-left: 43px;
    background-image: url("../img/icon-bookmark.svg");
    background-position: 10% 50%;
    background-repeat: no-repeat;
}

.button.cart {
    padding-left: 49px;
    background-image: url("../img/icon-cart.svg");
    background-position: 10% 50%;
    background-repeat: no-repeat;
}

.bookmarks:active {
    background-color: var(--special-dark);
    opacity: 0.5;
}

.cart:active {
    background-color: var(--special-dark);
    opacity: 0.5;
}

.make-order {
    background-color: var(--basic-green);
}

.make-order:hover {
    background-color: var(--success);
}

.make-order:active {
    opacity: 0.5;
}

.header-wrapper {
    background-color: var(--basic-background);
}

.header-middle {

}

.header-shop-description {
    color: var(--basic-red);
    font-style: italic;
    font-size: 16px;
    line-height: 23px;
}

.dial-up {
    font-size: 21px;
    line-height: 30px;
    color: var(--basic-red);
    border: 3px solid var(--white);
    padding: 4px 45px 5px 74px;
    background-image: url("../img/icon-phone.svg");
    background-position: 10% 50%;
    background-repeat: no-repeat;
}

.header-contacts-address {
    font-size: 14px;
    text-align: center;
    color: var(--special-darkblue);
    font-style: normal;
}

.user-auth {
    list-style: none;
}

.user-button {
    background-color: var(--white);
}

.auth-link {
    font-size: 21px;
    line-height: 21px;
    text-align: center;
    color: var(--black);
}

.auth-link.enter {
    padding-left: 45px;
    background-image: url("../img/icon-login.svg");
    background-position: 10% 50%;
    background-repeat: no-repeat;
}

.auth-link.enter:hover {
    color: var(--basic-red);
}

.auth-link.enter:active {
    color: var(--basic-greylight);
}

.auth-link.register {
    padding: 12px 24px;
}

.auth-link.register:hover {
    color: var(--basic-red);
}

.auth-link.register:active {
    color: var(--basic-greylight);
}

.auth-link.guest {
    padding-left: 56px;
    background-image: url("../img/icon-user.svg");
    background-position: 10% 50%;
    background-repeat: no-repeat;
}

.auth-link.guest:active {
    color: var(--basic-greylight);
}

.auth-link.exit {
    font-size: 0;
    padding: 14px 17px 14px 20px;
    background-image: url("../img/icon-logout.svg");
    background-position: 10% 50%;
    background-repeat: no-repeat;
}

.user-profile {
    font-size: 16px;
    color: var(--special-darkblue);
}

.header-user-profile:hover a,
.header-user-profile:hover span {
    color: var(--basic-red);
}

.header-user-profile:active a, 
.header-user-profile:active span {
    color: var(--basic-greylight);
}

.spot {
    color: var(--special-darkblue);
}

.main-header-nav.container {
    padding: 0;
}

.site-navigation {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    height: 60px;
    background-color: var(--special-darkblue);
    box-shadow: inset 0px -5px 0px var(--basic-darknavy);
}

.site-navigation-item:hover {
background-color: var(--basic-darknavy);
}

.site-navigation-item:active {
    background-color: var(--special-nav);
    opacity: 0.5;
}

.site-navigation-item a {
    color: var(--white);
}

/* Крошки  */

.breadcrumbs {
    font-size: 13px;
    line-height: 18px;
    text-transform: uppercase;
}

.breadcrumbs a {
    color: var(--black);
}

.breadcrumbs a:first-of-type {
    font-size: 0;
    padding: 6px 7px;
    background-image: url("../img/icon-home.svg");
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

.section-title {
    font-size: 30px;
    line-height: 30px;
    color: var(--special-darkblue);
    text-transform: uppercase;
}

.section-title.catalog-title {
    background-color: var(--basic-background);
}

/* Каталог, фильтры */

.filter-legend {
    font-size: 17px;
    line-height: 30px;
    font-weight: 700;
    text-transform: uppercase;
}

.filter-brands-list,
.filter-power-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.filter-brands-list label,
.filter-power-list label {
    font-size: 15px;
    line-height: 19px;
    text-transform: uppercase;
}

.show-items {
    font-size: 13px;
    line-height: 18px;
    text-transform: uppercase;
    width: 220px;
    height: 38px;
    background-color: var(--white);
    border: 1px solid var(--special-filter);
    box-sizing: border-box;
}

/* Карточки товаров  */

.catalog-list,
.popular-items-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.catalog-list-item:hover {
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
}

.new {
    position: relative;
    overflow: hidden;
}

.new::before {
    position: absolute;
    content: "new";
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    text-transform: uppercase;
    color: var(--white);
    background-color: var(--basic-red);
    z-index: 50;
    transform: rotate(45deg);
}

.buy {
    color: var(--white);
    font-family: inherit;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 18px;
    background-color: var(--basic-green);
    background-image: url("../img/icon-cart.svg");
    background-position: 15% 50%;
    background-repeat: no-repeat;
    box-shadow: inset 0px -3px 0px var(--special-buygreen);
    border: 1px solid var(--basic-green);
    border-radius: 2px;
    box-sizing: border-box;
    width: 135px;
    height: 38px;
}

.buy:hover {
    background-color: var(--success);
    border: 1px solid var(--success);
}

.buy:active {
    background-color: var(--special-buyclick);
    border: 1px solid var(--special-buyclick);
}

.bookmark {
    color: var(--special-darkblue);
    font-family: inherit;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    background-color: var(--white);
    border: 3px solid var(--basic-green);
    border-radius: 2px;
    box-sizing: border-box;
    width: 135px;
    height: 38px;
}

.bookmark:hover {
    border: 3px solid var(--special-darkblue);
}

.bookmark:active {
    opacity: 0.5;
}

.item-title {
    line-height: 20px;
    font-weight: 700;
    text-align: center;
}

.old-price {
    font-size: 17px;
    line-height: 18px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    text-decoration: line-through;
    color: var(--special-oldprice);
}

.item-price {
    position: relative;
    font-size: 17px;
    line-height: 18px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    color: var(--white);
    background-color: var(--basic-red);
    width: 122px;
    padding: 10px 20px 10px 30px;
    border-radius: 3px 0 0 3px;
}

/* Наверно лучше картинкой, стрелка какая-то драная */
.item-price:after {
    position: absolute;
    content: "";
    z-index: 1;
    background-color: var(--basic-red);
    width: 36px;
    height: 36px;
    top: 2px;
    right: -17px;
    box-shadow: 1px 1px 0 1px var(--basic-red);
    border-radius: 50px 0 0 0;
    transform: rotate(-45deg) scale(0.73);
}




/* Компания Техномарт */

.technomart .section-title {
    color: var(--black);
}

.technomart-text {
    font-size: 13px;
}

.technomart-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.technomart-list-item {

}

.technomart .button {
    background-color: var(--basic-red);
    color: var(--white);
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    text-align: center;
    padding: 11px 40px 9px 40px;
}

.technomart .button:active {
    background-color: var(--error);
}

/* Контакты */

.contacts .section-title {
    color: var(--black);
}

.contacts-text {
    font-size: 13px;
}

.contacts .button {
    background-color: var(--basic-red);
    color: var(--white);
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    text-align: center;
    padding: 11px 61px 9px 61px;
}

.contacts .button:active {
    background-color: var(--error);
}

/* Футер */


.footer-top {
    background-color: var(--special-darkblue);
}

.footer-logo {
    background-color: var(--basic-red);
    box-shadow: inset 0px -5px 0px rgba(0, 0, 0, 0.24);
    padding: 20px 41px;
}

.footer-navigation {
    margin: 0;
    padding: 0;
    list-style: none;
}

.footer-navigation-item a {
    color: var(--basic-background);
}

.footer-navigation-item a:hover {
    text-decoration: underline;
}

.footer-navigation-item a:active {
    text-decoration: none;
    opacity: 0.5;
}

.footer-middle {
    background-color: var(--special-darkblue);
}

.footer-contacts {
    margin: 0;
    padding: 0;
    color: var(--basic-light);
    font-style: normal;
}

.footer-phone {
    color: var(--basic-light);
}

.footer-catalog {
    margin: 0;
    padding: 0;
    list-style: none;
}

.footer-catalog-item a {
    color: var(--special-yellowlight);
}

.footer-catalog-item a:hover {
    text-decoration: underline;
}

.footer-catalog-item a:active {
    text-decoration: none;
    opacity: 0.5;
}

.footer-bottom {
    background-color: var(--basic-darknavy);
}

.footer-bottom-text,
.footer-feedback,
.developer  {
    color: var(--white);
    font-size: 16px;
    line-height: 18px;
}

.footer-social {
    margin: 0;
    padding: 0;
    font-size: 0;
}

.footer-social-item {
    font-size: 0;
}

.social-button {
    color: var(--white);
    background-color: var(--special-social);
    display: inline-block;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    vertical-align: middle;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

.social-button:hover {
    background-color: var(--basic-red);
}

.social-button:active {
    background-color: var(--basic-red);
}

.vk {
    background-image: url("../img/icon-vk.svg");
}

.facebook {
    background-image: url("../img/icon-fb.svg");
}

.instagram {
    background-image: url("../img/icon-insta.svg");
}


.footer-feedback a,
.developer a {
    color: var(--special-yellowlight);
}

.footer-feedback a:hover,
.developer a:hover {
    text-decoration: underline;
}

.footer-feedback a:active,
.developer a:active {
    color: var(--basic-red);
    text-decoration: none;
}












.pop-up {
    display: none;
}








/* Замена фото товара на кнопки, тест */

.popular-item .buy,
.popular-item .bookmark,
.catalog-list-item .buy,
.catalog-list-item .bookmark {
    display: none;
}

.popular-item:hover button,
.catalog-list-item:hover button {
    display: inline-block;
}

.popular-item:hover img,
.catalog-list-item:hover img {
    display: none;
}

/* Табы, тест */

.tabs-content {
    width: 330px;
    height: 200px;
    overflow: hidden;
    list-style: none;
}

.tab-content {
    width: 330px;
    height: 200px;
}


/* Ползунок фильтра цены */

.filter-price-range {
    position: relative;
    width: auto;
    height: 127px;
}

.range {
    margin: 25px auto 20px 20px;
    padding: 0;
    width:180px;
    height:2px;
    border-radius: 4px;
    background-color: #d7dcde;
}

.range-button-1, .range-button-2 {
    position: absolute;
    top: 40%;
    width: 20px;
    height: 20px;
    cursor: move;
    transform: translateY(-50%);
    border: none;
    border-radius: 50%;
    background-image: url(img/filter-button.svg) no-repeat;
    box-shadow: 0 2px #ababab;
}

.range-input-1, .range-input-2 {
    margin: 10px auto;
    width: 95px;
    height: 38px;
    text-align: center;
    font-size: 17px;
    line-height: 18px;
    border-radius: 4px;
}